<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<style type="text/css">
			a{
				display: block;
				text-decoration: none;
			}
			input{
				width: 200px;
				height: 30px;
			}
		</style>
	</head>
	<body>
	<div style = "margin:auto ;padding: auto;width:600px;height:600px;font-size: xx-large;
						text-align: center;background-color: hotpink;margin-top: -300px;
						position: fixed; left: 50%; top: 50%;margin-left: -300px;">
		<form action="#" method = "POST">
			用户：<input type='text' name="username">
			<br>
			密码： <input type="password" name="password">
			<br>
			<input type="submit" value="注册">
			<br>
		</form>
		<br>
		<a href="/">返回主页</a>
	</div>
	</body>
</html>
